[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "eRPC"]
	path = eRPC
	url = https://github.com/depaulmillz/eRPC.git
[submodule "common"]
	path = common
	url = git@github.com:CSE-498-011-SP21/common.git
